
// перменные:
$text-gray: #606060;
$text-blue: #1F4B99;
$text-black: #202020;
$background-input: rgba(60, 60, 60, 0.15);
$text-gray-light: rgba(96, 96, 96, 0.6);
$text-blue-light: rgba(31, 75, 153, 0.1);
$text-gray-modal: rgba(60, 60, 60, 0.05);
$text-gray-modal-body: rgba(60, 60, 60, 0.7);
$background-modal: rgba(137, 178, 250, 0.46);
